/* reset */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* font */
body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(to top,#d7dbd6 80%,#009688 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* container  */
.container {
    height: 90%;
    min-width: 90%;
    background-color: white;
    display: flex;
}
.column-left {
    width: 35%;
}
.column-right {
    width: 65%;
}
.column-right {
    border-left: 1px solid gray;
}
.container {
    border: 1px solid gray;
}
/* column-left */
.header-column-left {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
}
.header-column-left img {
    width: 33px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
    vertical-align: middle;
}
.header-column-left h4{
    display: inline-block;
    vertical-align: middle;
}
.header-column-left .settings i  {
    color: #b1b1b1;
    margin-left: 10px;
}
.notifications {
    padding: 10px;
    background-color: #8edafc;
}
.notifications-right {
    display: inline-block;
    vertical-align: middle;
}
.notifications i {
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
    color: #8edafc;
}
.title {
    font-weight: bold;
}
.sub-title {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
}
.search {
    display: flex;
    align-items: center;
}
.button-search {
    margin-right: 0px;
    cursor: pointer;
}
.search input, .button-search {
    padding: 5px 15px;
    border-style: none;
    border: 1px solid lightgray;
    background-color: white;
    color: #b1b1b1;
}
.search input {
    width: 100%;
}
.search {
    width: 100%;
    padding: 5px;  
    background-color: #eaeaea;
}
.container-contacts {
    overflow-y: auto;
}
.contacts {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.contacts img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
/* column-right */
.header-column-right {
    background-color: #eaeaea;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-column-right .account img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.header-column-right .account {
    display: flex;
    align-items: center;
}
.header-column-right .name-account p {
    font-size: 12px;
    margin-top: 2px;
}


